.about-section-container {
  padding-top: 0rem;
  font-family: "Inter", sans-serif;

  .about-section-grid {
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 4rem;
    //   margin-top: 1rem;
    position: relative;
    .grid-right {
      .title {
        font-weight: 700;
        font-size: 2rem;
        color: #0f1d3d;
        text-transform: capitalize;
      }

      p {
        margin: 1rem 0;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #0f1d3d;
        text-transform: capitalize;
      }

      .btn {
        background-color: #0146e7;
        padding: 0.8rem 2.5rem;
        text-transform: none;
        font-family: "Inter", sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        border-radius: 30px;
        margin-top: 1.3rem;
        span {
          color: #ffffff !important;
        }
      }
    }

    .grid-left {
      padding-bottom: 2rem;
    }
  }

  @media all and (max-width: 500px) {
    .about-section-grid {
      padding: 3rem 2rem;
      //   margin-top: 1rem;
      position: relative;
      .grid-left {
        div {
          color: #0f1d3d;
        }
      }

      .grid-right {
        div {
          color: #0f1d3d;
        }
      }
    }
  }
}
.dummy {
  position: absolute;
  left: 0;
  background: #033098;
  transform: translateY(-5px);
  height: 10rem;
  width: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: block;

  &::after {
  }
}
