.body {
  background: hsla(222, 97%, 30%, 1);

  background: linear-gradient(
    70deg,
    hsla(222, 97%, 30%, 1) 64%,
    hsla(208, 91%, 36%, 1) 100%
  );

  background: -moz-linear-gradient(
    70deg,
    hsla(222, 97%, 30%, 1) 64%,
    hsla(208, 91%, 36%, 1) 100%
  );

  background: -webkit-linear-gradient(
    70deg,
    hsla(222, 97%, 30%, 1) 64%,
    hsla(208, 91%, 36%, 1) 100%
  );
}

.about {
  background: #f3f4f5;
  padding: 0rem 4rem 5rem;

  @media all and (max-width: 900px) {
    padding: 0rem 1rem 5rem;
  }
}
